-optimizationpasses 5
-dontusemixedcaseclassnames
-dontskipnonpubliclibraryclasses
-dontskipnonpubliclibraryclassmembers
-dontpreverify
-verbose
-optimizations !code/simplification/arithmetic,!field/*,!class/merging/*
-dontwarn android.support.v4.**
-dontwarn android.support.v7.**
-dontwarn javax.microedition.khronos.**
-keepattributes InnerClasses
-keepattributes JavascriptInterface
-keepattributes Signature
-keepattributes *Annotation*
-ignorewarnings

-dontoptimize

-keep public class * extends android.app.Activity
-keep public class * extends android.app.Application
-keep public class * extends android.app.Service
-keep public class * extends android.content.BroadcastReceiver
-keep public class * extends android.content.ContentProvider
-keep public class * extends android.preference.Preference
-keep class android.support.v4.** { *; }
-keep class android.support.v7.** { *; }
-keep class * extends android.support.v4.**
-keep class * extends android.support.v7.**

-keepclasseswithmembernames class * {
    native <methods>;
}

-keepclasseswithmembers class * {
    public <init>(android.content.Context, android.util.AttributeSet);
}

-keepclasseswithmembers class * {
    public <init>(android.content.Context, android.util.AttributeSet, int);
}

-keepclassmembers class * extends android.app.Activity {
   public void *(android.view.View);
}

-keepclassmembers enum * {
    public static **[] values();
    public static ** valueOf(java.lang.String);
    public static ** valueOf(int);
}

-keep class * implements android.os.Parcelable {
  public static final android.os.Parcelable$Creator *;
  static ** CREATOR;
  <fields>;
  <methods>;
}

-keep class * implements java.io.Serializable {
    *;
}

-keepattributes SourceFile,LineNumberTable

-keep class * extends android.view.View

### eventbus begin
-keepclassmembers class ** {
	public void onEvent*(**);
}
### eventbus end


# umeng 建议反馈
-keepclassmembers class * {
    public <init>(org.json.JSONObject);
}


-keep interface com.actionbarsherlock
-keep interface com.actionbarsherlock.** {*;}
-keep interface com.jeremyfeinstein.** {*;}

-keep class cn.umeng.**{*;} 
-keep class com.actionbarsherlock
-keep class com.actionbarsherlock.**{*;} 
-keep class com.jeremyfeinstein.**{*;} 